button {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    transition: background-color .2s;
}

.LikeButton {
    width: 60px;
    background-color: #9500ff;
    margin-right: 10px;
    margin-left: 40px;
}

.LikeButton:hover {
    background-color: #7600ca;
}

.LikeButton[liked="true"] {
    background-color: #7600ca;
    position: relative;
}

.LikeButton[liked="true"]:before {
    position: absolute;
    content: url(../img/hearts-svgrepo-com.svg);
    left: -20px;
    top: 25%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
}

.DeleteButton {
    background-color: rgb(218, 103, 103);
}

.DeleteButton:hover {
    background-color: rgb(211, 45, 45);
}

.InputButton {
    background-color: #9500ff;
}

.InputButton:hover {
    background-color: #7600ca;
}