.Counter {
    display: flex;
    justify-content: space-between;
}

.Counter strong {
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    background-color: #9500ff;
    font-size: 20px;
    border-radius: 5px;
}