.song__item {
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid #999;
}

.song__item p {
    display: flex;
    align-items: center;
    width: 150px;
    margin-right: 20px;
}

.buttons__wrapper {
    margin-left: auto;
}